<a href="https://colab.research.google.com/github/SansBasnet/Deep_Learning/blob/master/500db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%ls drive/'My Drive/test_db/'

os.chdir('/content/drive/My Drive/test_db/')

 113db.csv   132k.csv    3col700.csv   50db.csv  '50(list)db.csv'
 120.csv     1m_DB.csv   500db.csv     50df.csv   761db.csv

In [3]:
df = pd.read_csv("1m_DB.csv")

In [4]:
df["content"] = df["body"] + df["title"]
cleandf = df.drop(['body','title'], axis=1)
cleandf

                  tag_1                                            content
0              Business                                                NaN
1             Economics  <p>In some states you can get your normal unem...
2        Earth sciences  <p>It is not a secret the the U.S. agricultura...
3        Earth sciences  <p>Desalinization may be the future of water s...
4             Economics  <p>I don't think middle class disappear in the...
...                 ...                                                ...
1492006         Biology  <p>The cancer cells multiply if left untreated...
1492007         Biology  <p>In the article below, it mentions how some ...
1492008            Arts  <p>The Westward expansion of the United States...
1492009         Biology  <p>Now more than ever, people have access to i...
1492010         Biology  <p>Although, animal protein is one of the best...

[1492011 rows x 2 columns]

In [5]:
columns_titles=["content","tag_1"]
df=df.reindex(columns=columns_titles)
df

                                                   content           tag_1
0                                                      NaN        Business
1        <p>In some states you can get your normal unem...       Economics
2        <p>It is not a secret the the U.S. agricultura...  Earth sciences
3        <p>Desalinization may be the future of water s...  Earth sciences
4        <p>I don't think middle class disappear in the...       Economics
...                                                    ...             ...
1492006  <p>The cancer cells multiply if left untreated...         Biology
1492007  <p>In the article below, it mentions how some ...         Biology
1492008  <p>The Westward expansion of the United States...            Arts
1492009  <p>Now more than ever, people have access to i...         Biology
1492010  <p>Although, animal protein is one of the best...         Biology

[1492011 rows x 2 columns]

In [ ]:
df1 = df.replace(',','', regex=True)

df2 = df1.replace('\?','', regex=True)

df3 = df2.replace('\W+', ' ', regex=True)

In [ ]:
newerdf["cleantitle"] = newdf["cleantitle"].replace('[^A-Za-z0-9 ]+ ', '', regex=True)

In [ ]:
newerdf["cleantitle"]  = list(map(lambda row: row[0], newerdf["cleantitle"]))

In [ ]:
pd.set_option('display.max_colwidth', 200)
df3

                                                                                                                                                                                                     content                   tag_1
0    pInJulyIcontractedthecoronavirusandmadesuretofollowalloftheguidelinesregardingitIwasterrifiedofgivingittomyfamilysoIquarantinedinmyroomandworeamaskaroundmyhouseTheonlytimeIleftmyhouseduringmyquara...                 Biology
1    pInNorwayMuslimimmigrantsattendacompulsoryclassonwesternattitudestowardswomenTheaimoftheclassistobetterassimilatetheimmigrantsintoNorwegiancultureandtopreventviolencetowardswomenDoyouthinkthatthis...              Philosophy
2    pIthinkthelastphasewillbemostchallengingbecausethequalityofthenextclassesprojectsassumingitiswiththesameclientlargelydependsonthequalityofourownrecommendationsuponwrappingupourprojectsnbspppIalsot...                Business
3                                                                                                                                                                                                        NaN              Psychology
4    pOftentimesIfeelliketheissuewithinsufficientintakeofspecificnutrientssuchasfiberisthelackofeducationtothegeneralpublicabouttheimportanceofproperintakeManypeopledonotknowwhatfiberisorhowtheycanmake...                 Biology
..                                                                                                                                                                                                       ...                     ...
762  pHeyEstherppIlikeyourthoughtsonincludingaclearintroductionHoweverwhenitcomestoreallyportrayingthetopictothereaderIbelieveitisyourunderstandingandhowyouportraythattothereaderthroughthebodyofyoursum...  Languagesandliterature
763  pIthinkthatBlackFridayshouldbeallowedduringthispandemicbutstrictlyonlineonlyItistooriskytohavehugegroupsofpeoplebargeinandsearchthroughabunchofitemsLetalonetheretailworkerswillbeencounteringatreme...               Economics
764  pThemanwiththeseveredcorpuscallosumwasabletodrawtwodifferentshapesatthesametimewitheasebecausehisbraindidnothavetotransferthebrainsignalsacrossHoweversomeonewhoisambidextroushastheabilitytowritewi...              Psychology
765  pInordertoimproveglobalizationitisessentialthatwealterureconomicagendaasawholeandnotonlyfocusthecostofglobalizationThiseconomicagendashouldfocusoninclusionandtheindividualByincorporatingtheworking...                Business
766  pOneactionthatcouldhavebeentakentopreventtheemptyshelvesatthebeginningoftheCovid19pandemicwaslessstockingHavethestockpeopleonlystockaportionoftheproducteachdayThestorewouldbeabletokeepproductforal...               Economics

[767 rows x 2 columns]

In [ ]:
#newdf.to_csv('50df.csv')
newerdf.to_csv("50(list)db.csv", header=None, index=False)

In [6]:
def cleantext(input):
    if not pd.isna(input):
        # replaces paragraph tags with spaces
        newString = re.sub(r"<\/?p>", " ", input)

        # replaces linebreak tags with newlines
        newString = re.sub(r"<\/?br>", "\n", newString)

        # replaces all other tags (not even leaving a space)
        newString = re.sub("<\/?[a-z]+>", "", newString)

        return newString
    return ""

In [ ]:
df1 = newdf
df1["body"] = new_df["cleanbody"].apply(cleantext)
df1(colwidth = 500)

NameError: ignored

In [7]:
import re
import nltk
import csv 

from bs4 import BeautifulSoup
from bs4.element import Comment

def _tag_visible(element):
    """given a BeautifulSoup4 element, return True if it's visible, False
    otherwise
    """

    if element.parent.name in ['style', 'script', 'head', 'title', 'meta']:
        return False
    if isinstance(element, Comment):
        return False
    return True


def _yield_paragraphs(input_text):
    """Iterator that yields the text of the paragraphs in the input_text
    variable
    """
    if pd.isna(input_text):
        return ""
    soup = BeautifulSoup(input_text, "lxml")

    if len(list(soup.children)) == 0:
        return ""

    # Before anything else, just replace <br> with a newline
    for breaks in soup.find_all("br"):
        breaks.replace_with("\n")

    # Elements that can contain sub-elements are paragraphs and lists
    # for each of these, extract the text.  In the case of lists, add
    # spaces between elements
    for container in soup.html.body.find_all(
            ["p", "ul", "ol"], recursive=False):
        result = ""

        if container.name == "p":
            result = container.text
        else:
            container_subtags = container.findAll(text=True)
            container_visible_texts = filter(_tag_visible,
                                             container_subtags)
            result = " ".join(container_visible_texts)

        # Do not yield strings that only contain newlines and spaces
        if len(result.strip()) > 0:
            yield result


def strip_html(body):
    """Given an HTML string, return only the visible texts.
    Has the following behaviors:
       - Replaces <p> tags with spaces
       - Replaces <br> tags with newlines
       - Removes all other tags (not even leaving a space)
    """

    all_texts = []
    for para in _yield_paragraphs(body):
        all_texts.append(para)
    return u" ".join(all_texts)


def cleantext(input):
    if not pd.isna(input):
        # replaces paragraph tags with spaces
        newString = re.sub(r"<\/?p>", " ", input)

        # replaces linebreak tags with newlines
        newString = re.sub(r"<\/?br>", "\n", newString)

        # replaces all other tags (not even leaving a space)
        newString = re.sub("<\/?[a-z]+>", "", newString)

        return newString
    return ""

In [8]:
df["content01"] = df["content"].apply(strip_html)
cleandf = df.drop(['content'], axis=1)

columns_titles=["content01","tag_1"]
cleandf=cleandf.reindex(columns=columns_titles)
cleandf

                                                 content01           tag_1
0                                                                 Business
1        In some states you can get your normal unemplo...       Economics
2        It is not a secret the the U.S. agricultural s...  Earth sciences
3        Desalinization may be the future of water secu...  Earth sciences
4        I don't think middle class disappear in the wo...       Economics
...                                                    ...             ...
1492006  The cancer cells multiply if left untreated un...         Biology
1492007  In the article below, it mentions how some clo...         Biology
1492008  The Westward expansion of the United States bo...            Arts
1492009  Now more than ever, people have access to info...         Biology
1492010  Although, animal protein is one of the best so...         Biology

[1492011 rows x 2 columns]

In [10]:
df1 = cleandf[cleandf.content01 != '']
df1

                                                 content01           tag_1
1        In some states you can get your normal unemplo...       Economics
2        It is not a secret the the U.S. agricultural s...  Earth sciences
3        Desalinization may be the future of water secu...  Earth sciences
4        I don't think middle class disappear in the wo...       Economics
5        One of these countries at saw massive gains fr...       Economics
...                                                    ...             ...
1492006  The cancer cells multiply if left untreated un...         Biology
1492007  In the article below, it mentions how some clo...         Biology
1492008  The Westward expansion of the United States bo...            Arts
1492009  Now more than ever, people have access to info...         Biology
1492010  Although, animal protein is one of the best so...         Biology

[1272174 rows x 2 columns]

In [11]:
def cleantext(input):
    if not pd.isna(input):
        # replaces paragraph tags with spaces
        newString = re.sub(r"<\/?p>", " ", input)

        # replaces linebreak tags with newlines
        newString = re.sub(r"<\/?br>", "\n", newString)

        # replaces all other tags (not even leaving a space)
        newString = re.sub("<\/?[a-z]+>", "", newString)

        return newString
    return ""

In [12]:
cleandf.to_csv("1m.csv", header=None, index=False)